/* Imports */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

body, html {
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    
}

/*
 * Header
 */
header{
    background-image: linear-gradient(to bottom, #3AAFA9 0%, #3AAFA9 50%, #2B7A78 100%);
}
.navbar {
    vertical-align: middle;
    padding: 38px 35px;
  }


.navbar-brand {
  margin-bottom: 0;
}

.navbar-collapse .nav-link {
  padding: .25rem 0;
  font: bold 20px;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
} 
/* ... Overriding the bootstrap container-fluid and bg-dark classes */

.container-fluid{
    padding: 15px;
}
.bg-dark {
    background-color: #2B7A78!important;
}
.navbar-collapse .nav-link:hover,
.navbar-collapse .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.navbar-collapse .nav-link + .nav-link {
  margin-left: 1rem;
}

.navbar-collapse .active {
  color: #fff;
  border-bottom-color: #fff;
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/programming.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/christian-typing.JPG");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}
.section-text{
    color: #f5f6f7;
}
.caption {
    font-family: 'Codystar', cursive;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* page */

.page{
    min-height: calc(100vh - 7.5rem);
    margin: 0;
}


/*
 * Footer
 */


/*
 * Media queries
 */
@media (min-width: 48em)
    .navbar {
        float: none;
}