/*
 * Imports
 */

/* @import url('https://fonts.googleapis.com/css?family=Raleway|Orbitron|Oxygen|Montserrat:300,600'); */
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:300,700');
*{
  box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
body{
    margin:0;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight:300;
    line-height:1.5;
    color:#333;
    overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6{
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

.text-yellow{
    color: #ffc107;
}

/* Overriding bootstrap classes */
.navbar-light{
    color: white;
}
.bg-dark{
    border-top: 1px solid rgba(0, 150, 136, 0.3);
    border-color: rgba(0, 150, 136, 0.3);
    padding: 1rem;
    background-color: transparent!important;
    transition: 500ms ease;
}
.bg-dark.scrolled{
    background:rgba(255, 255, 255, 0.9)!important;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);
    
  }
  .list-group-item {
      border: none;
  }
/* .scrolled .text-info{
    color: #ffc107!important;  
} */

.card-group{
    margin: 2em;
}
  
.card {
    background: none;
    border: none;
}
.card-img-top {
    margin-bottom: 25px;
    width: 100px;
    height: auto;
    max-width: 100%;
    border: none;
}
.card-title {
    color: #17a2b8!important
}
/*
.semi-dark{
    padding: 1rem;
    background-color: rgba(17, 122, 139, 0.6)!important;
}

*/
.navbar-dark .navbar-nav .nav-link {
    color: #ffc107;
/*    text-transform: uppercase;*/
}

.navbar-collapse .nav-link {
  padding: .25rem 0;
  font: bold 20px;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.navbar-collapse .nav-link:hover,
.navbar-collapse .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.navbar-collapse .nav-link + .nav-link {
  margin-left: 1rem;
}

.navbar-collapse .active {
  /* color: #fff; */
  color: #17a2b8!important;
  border-bottom-color: #ffc107;
}

/***********  header  ************/

header.row{
    flex-wrap: wrap;
    margin: auto;
}

.v-header{
    height:calc(100vh - 4.5rem);
    display:flex;
    align-items:center;
    color:#fff;
}

#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}


.fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
}

.header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    background:#4fb3a0;
    /*background:#225470;*/
    opacity:0.25;
}

.header-content{
    z-index:1;
    /*
    background-color: rgba(244,244,244,0.5);
    */
}


.header-content h1{
    font-weight: 700;
    font-size:50px;
    margin-bottom:0;
}

.header-content p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
    color: #ffc107;
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



.form-group .btn{
    background: #34b3a0;
    color:#fff;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

.section{
    line-height: 1.5;
    font-size: 1em;
    padding:5em 0;
    min-height: 100vh;
}
.section-a{
    background-color: #fff;
    color: black;
}
.bg-border-radius {
    width: 100vw;
    height: 10%;
    border-radius: 0 50vw 0 50vw;
    background-color: rgba(17, 122, 139, 0.6);
  }

.section-b{
  background:#f0f0f0;
}
.contact-me{
    color: black;
    /* color: #f8f9fa; */
    background: white;;
    /* background: lightblue url("/images/world-map.png") cover no-repeat fixed center;  */
    /* background-image: linear-gradient(to bottom, #f8f9fa 0%, #f8f9fa 50%, rgba(255,255,255,.5) 100%); */
}
.contact-me li{
    list-style: none;
}

.contact-me .social-media{
    border: none;
}
.contact-me .social-media .fa{
    color: #4fb3a0; 
}
.contact-me .social-media li{
    display: inline-block;
}
.contact-me li .svg-icon{
    width: 1.5em;
}
.contact-section__logo {
    display: block;
    height: auto;
    width: 100%;
    overflow: hidden;
    text-indent: -9999rem;
    text-indent: -200vw;
    background-position: center;
    background-size: 30% auto;
    transition: background-color ease-in-out 150ms;
}
#map-frame{
    width: 100%;
}
#map-frame .img-thumbnail{
    padding: initial;
    border: none;
}
/*
 * Social media icons
 */

.social-media{
    border-radius: 20px;
    border-right: 1px solid #4fb3a0;
    z-index: 1;
    text-align: right;
}

.social-media ul{
    list-style: none;
    padding: inherit;
/*    border-radius: 20px;
    border-right: 1px solid #117a8b;
    text-align: right;*/
}

.social-media a{
    text-decoration:none;    
    font-size: 1.5em;
}

.social-media .fa {
    padding: 20px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: 1px solid #4fb3a0;
    color: white;
}
.social-media .fa:hover {
    opacity: 0.7;
    color: #ffc107;
}

.social-media a.fa:hover {
    color: white;
    background-color: #4fb3a0;
}

/****** Scrol button and class btn*******/

.scroll-down {
    margin-bottom: 0;
    /* vertical-align: text-bottom; */
    padding: 16px 20px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* margin: 5px 2px; */
    /* border-radius: 50%; */
    border: 1px solid #ffc107;
    /* color: white; */
    border-radius: 50%;
    background: transparent;
    /* margin: 0; */
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
.scroll-down .fa{
    font-size: 1.5em;
    vertical-align: middle;
}

/**********    end of scroll *************/
/*
 * Contact-me
 */

#map{
    width: 100%;
    height: 500px;
}

/* Style inputs */
.form-control{
    background-color: transparent;
    color: white;
}

/******** ABOUT ***********/

.about {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}
.section-intro {
    padding: 80px 0;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}

/******** PORTFOLIO *********/
/* Create three equal columns that floats next to each other */
#tabContainer{
    margin-bottom: 2em;
}
#portfolio .column .content .discription{
    position: absolute;
    bottom: 0;
    background: rgba(59, 91, 92, 0.8); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
#portfolio .column .content {
    position: relative;
}
#portfolio .column .content a{
    text-decoration: underline;
    color: #ffc107;
}
#portfolio .column .content img{
    width: 100%;
}
.column {
    float: left;
    width: 50%;
    display: none; /* Hide all elements by default */
}


/* The "show" class is added to the filtered elements */
#portfolio .show {
  display: block;
}

/* Style the buttons */
#portfolio .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

#portfolio .btn:hover {
  background-color: #ddd;
}

#portfolio .btn.active {
  background-color: #666;
  color: white;
}
.section-body {
    padding: 3.5rem 0 1rem;
}

/******* footer *********/
footer a, a:hover{
    text-decoration: none;
}
footer .social-media ul{
    margin: auto;
}
footer li {
    list-style: none;
}
footer .social-media {
    /* border-radius: 20px; */
    border-right: 1px solid #4fb3a0;
    /* z-index: 1; */
    text-align: justify;
}

footer .social-media  li {
    display: inline-block;
}
/******* /footer *********/
.Solutions_solution__uv3Vn[data-index="1"] .Solutions_icon__1jOr- {
    fill: #39c5ff;
}

.Solutions_icon__1jOr- {
    width: 90px;
    margin: 0 auto 1.5em;
    display: block;
    height: auto;
    max-width: 100%;
    fill: #ffc107;
}
@media screen and (min-width: 48em){
    .section-body {
        padding-bottom: 3em;
        padding-top: 3em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Solutions_solution__uv3Vn[data-index="1"] {
    box-shadow: 0 0 76px 0 rgba(11,44,126,.53);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 6;
}
.Solutions_solution__uv3Vn[data-index="1"] {
    background: #1d52d6;
}}
@media screen and (min-width: 48em){
.Solutions_solution__uv3Vn {
    padding: 3em;
    flex: 1 1 33.333333333333333%;
    max-width: 33.333333333333336%;
}
.Solutions_solution__uv3Vn {
    color: #fff;
    padding: 1.5em;
    position: relative;
    text-align: center;
    z-index: 3;
}}
/************* MEDIA QUERIES **************/
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
      .header-content{
          text-align: center;
      }
      .social-media{
          border: none;
          text-align: center;
      }
      .social-media ul{
          display:inline-flex;
          align-content: center;
          border:none;
      }
      .bg-dark {
          background-color: rgba(17, 122, 139, 0.6)!important;
      }

}